:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-header-size: 1.8rem;
  --normal-font-size: 1.2rem;
  --primary-header-mobile-size: 1.5rem;
  --normal-font-mobile-size: 1rem;
}

html {
  padding: 0;
  margin: 0;
  box-shadow: border-box;
}

p {
  margin: 0;
  padding: 0;
}

#table-section {
  overflow: scroll;
}

.table {
  border: 1px solid black;
  width: 900px;
}

.table-header {
  background-color: #deeaf6;
  font-size: var(--primary-header-size);
  font-weight: bolder;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

td {
  font-size: var(--normal-font-size);
}

.stu-num {
  padding-left: 20px;
  padding-right: 30px;
}

.name,
.email {
  padding-right: 50px;
}

.section-links {
  font-size: var(--normal-font-size);
}

.section-header {
  font-size: var(--primary-header-size);
  font-weight: bolder;
}

.section-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.python {
  margin-bottom: 55px;
}

.section-container > img {
  width: 200px;
  height: 200px;
}

.code {
  font-size: var(--normal-font-size);
  white-space: pre;
}

.policies-header {
  font-size: var(--primary-header-size);
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 0;
}

.policies-content {
  font-size: var(--normal-font-size);
  margin-top: 0;
  padding: 0;
  margin-left: 4rem;
}

.adviser-table {
  border: 1px solid black;
  width: 500px;
  margin-left: 4rem;
}

.adviser-table td {
  width: max-content;
}

.adviser-column h4,
.adviser-column p {
  padding: 0;
  margin: 0;
}

form,
button {
  font-size: var(--normal-font-size);
}

@media (max-width: 700px) {
  .table-header {
    font-size: var(--primary-header-mobile-size);
  }

  td {
    font-size: var(--normal-font-mobile-size);
  }

  .table {
    width: 750px;
  }

  .section-links {
    font-size: var(--normal-font-mobile-size);
  }

  .section-header {
    font-size: var(--primary-header-mobile-size);
  }

  .section-container {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .code {
    font-size: var(--normal-font-mobile-size);
    white-space: pre-line;
  }

  .policies-header {
    font-size: var(--primary-header-mobile-size);
  }

  .policies-content {
    font-size: var(--normal-font-mobile-size);
    margin-left: 0;
  }

  .adviser-table {
    width: 400px;
    margin-left: 0;
  }

  form,
  button {
    font-size: var(--normal-font-mobile-size);
  }
}
